<h2>Registration</h2>

<%# request.env.inspect %>
<%# 

# FOR DEBUGGING
target  = "/home/vdc/20170804_jkdump.txt"
File.open(target, "w+") do |f|
  f.write(request.env.inspect)
end

%>

<p>
Application to Participate in the Virtual Data Collaboratory
</p>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= render 'registration_form', f: f %>

  <div class="form-inputs">
    <%# TODO: Maybe pull this out into a helper function %>
    <% if request.env["HTTP_EPPN"].nil? or (request.env["HTTP_EPPN"].gsub(/\s+/, "") == '') %>
      <%# TODO: Not sure if this is the best way to do this. For now, assume that if the EPPN exists, then shibboleth was successful. %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Register" %>
  </div>
<% end %>
