<%# Modified from Hyrax 1.0.4 Gem %>

      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#info"><i class="fa fa-user"></i> <%= I18n.t('hyrax.user_profile.tab_info') %></a></li>
        <li><a href="#contributions"><i class="glyphicon glyphicon-star"></i> <%= I18n.t('hyrax.user_profile.tab_highlighted') %></a></li>
        <li><a href="#activity_log"><i class="glyphicon glyphicon-calendar"></i> <%= I18n.t('hyrax.user_profile.tab_activity') %></a></li>
      </ul>
       
      <div class="tab-content">
        <%= render 'contributions', presenter: presenter %>
        <%= render 'activity', presenter: presenter %>
        <%= render 'info', user: @presenter.user %>
      </div> <!-- /tab-content -->
